p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.thumbnail{
  width: 100%;
}
.thumbnail-row{
  margin-bottom: 12px;
  position: relative;
}
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile{
  width: 50px;
  border-radius: 30px;
}
.channel-picture{
  vertical-align: top;
}
.video-info{
  margin-left: 4px;
}
.content{
  margin-top: 0;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 12px;
}
.user,.stats{color: grey;
}.user{
  margin-bottom: 4px;
}
.stats{
  margin-top:4px;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap:16px ;
  row-gap: 40px;
}

@media (max-width:750px){
  .video-grid{
    grid-template-columns:1fr 1fr ;
  }
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}